@import "~/src/scss/config/variables";
@import "~/src/scss/utils/functions";

.Hero {
  &--content {
    height: 100vh;
    min-height: rem-calc(568);

    @media only screen and (min-width: theme("screens.md")) {
      min-height: rem-calc(706);
    }
  }
}
