/* Fonts */
$rem-base: 16;

/* Screens */
$min-width: 20rem;
$max-width: 90rem;

/* Colors */
$black: #232323;

$grey: #3d3c3d;
$grey-primary: #525251;
$grey-secondary: #8b8986;
$grey-tiertiary: #f3f3f3;

$yellow: #f1d160;
